.g-wrapper{
    background-color: #f3dccd;
}

.inner-container{
    gap: 1.5rem;
    background: #e8b48e;
    padding:  2rem;
    border-radius: 10px;
    border: 6px solid rgb(107, 36, 12);
    text-align: center;
}

.inner-container .primaryText{
    color: white;
    font-weight: 600;
    font-family:mon;
    font-size: 2rem;
}

.inner-container .secondaryText{
    color: white;
    font-size: 1.2rem;
}

.inner-container .button{
    background: #860a0a ;
    border : 2px solid white;
    box-shadow: var(--shadow);
    border-radius: 10px;


}