.App{
    position: relative;
    overflow-x: clip;
}


.white-gradient{
    position:absolute;
    width: 100rem;
    height: 20rem;
    background: rgb(107, 36, 12);
    filter: blur(100px);
    z-index: 1;


}